.card svg.material-icons path {
  fill: #888;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
  border-top: 1px solid#1976d2;
}

.card {
  border-radius: 4px;
  height: 450px;
  width: 390px;
  margin: 0 auto 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}

h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 100%
}

/* Responsive Styles */

@media screen and (max-width: 1300px) {
  .card-container > *:not(.circle-link) ,
  .terminal {
    width: 32%;
    max-height: 35vw;
  }

  .card:not(.highlight-card) {
    margin: 4px;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }
}
